<div>
  <div class="submit-form">
    <h4>Add Customer</h4>
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="customer.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="customer.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          class="form-control"
          id="phone"
          required
          [(ngModel)]="customer.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label >Address</label>
        <input
          class="form-control address-input"
          id="number"
          required
          placeholder="Number"
          [(ngModel)]="customer.address.number"
          name="number"
        />
        <input
          class="form-control address-input"
          id="street"
          required
          placeholder="Street"
          [(ngModel)]="customer.address.street"
          name="street"
        />
        <input
          class="form-control address-input"
          id="city"
          required
          placeholder="City"
          [(ngModel)]="customer.address.city"
          name="city"
        />
        <input
          class="form-control address-input"
          id="zipCode"
          required
          placeholder="ZipCode"
          [(ngModel)]="customer.address.zipCode"
          name="zipCode"
        />
        <input
          class="form-control address-input"
          id="state"
          required
          placeholder="State"
          [(ngModel)]="customer.address.state"
          name="state"
        />         
        <input
          class="form-control"
          id="country"
          required
          placeholder="Country"
          [(ngModel)]="customer.address.country"
          name="country"
        />                    
      </div>

      <div class="form-group">
        <br>
        <button (click)="saveCustomer()" class="btn btn-success">Add</button>
      </div>
      
    </div>

    <div *ngIf="submitted">
      <h4>The Customer was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCustomer()">New</button>
    </div>
  </div>
</div>
